.applicationFirst{
    position: relative;
    display: inline-flex;
    height: 15px ;
    width: 15px;
    border-radius: 7.25px;
    &:hover {
        cursor: pointer;
    }
}

.progress-all{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }
    width: 510px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.application-name{
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
  min-width: 160px;
  max-width: 160px;
  &:hover{
    cursor: pointer;
  }
}
.application-name-container{
    position: relative;
    min-width: 160px;
    max-width: 160px;
}
.starIcon{
    color: rgba(255,255,255,.87) !important;
}

.starSize{
    font-size: 0.8em !important;
}

.starContainer{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 10px;
}