.applicationFirst{
    position: relative;
    display: inline-flex;
    height: 15px ;
    width: 15px;
    border-radius: 7.25px;
    &:hover {
        cursor: pointer;
    }
}

.progress-all{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }
    width: 510px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.application-name{
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
  min-width: 160px;
  max-width: 160px;
  &:hover{
    cursor: pointer;
  }
}
.application-name-container{
    position: relative;
    min-width: 160px;
    max-width: 160px;
}
.starIcon{
    color: rgba(255,255,255,.87) !important;
}

.starSize{
    font-size: 0.8em !important;
}

.starContainer{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 10px;
}

.extraClass {
    padding: 0;
    font-size: 10px !important;
    color: black !important;
    margin-top: 15px !important;
    pointer-events: auto !important;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    // background-color: # !important;
    &:hover {
    visibility: visible !important;
    background-color: transparent;
    opacity: 1 !important;
    }
    &.place-bottom {
        &:after {
        background-color: transparent !important;
        border-left-color: transparent !important;
        color: transparent;
        border-color: transparent !important;
        border-bottom-color: transparent !important;
        }
        &::before {
        background-color: transparent;
        border-bottom-color: transparent !important;
        }
    }
}
.Completed {
    background-color: #94CE4B !important;
}
.NotCompleted{
    background-color: #FFD600 !important;
}