.sypp-Company-container{
    // margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 30px;
    width: 510px;
    height: 30px;
    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }
    padding-left: 15px;
    // padding-top: 5px;
    // padding-bottom: 5px;
}
.sypp-CompanyList{
    margin-left: 10px;
    cursor: pointer;
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFE9D6;
    }