.sypp-mainpage-container{
    margin-left: 18;
    margin-right: 18;
}

.MuiRating-root.sypp-star {
    background: transparent !important;
    color: rgb(200,0,0);
    cursor: pointer;
    display: inline-flex;
    position: relative;
    font-size: 1.5rem;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}

.MuiRating-iconEmpty.sypp-emptyStar {
    color: rgba(0, 0, 0, 1) !important;
    background-color: rgba(0, 0, 0, 1) !important;

    /* border: solid; */
}

.MuiRating-iconFilled.sypp-filledStar{
    color: rgba(200, 0, 0, 0.7) !important;
}

.sypp-taskTitles{
    position: relative;
    left: 95px;
    display: flex;
    width: 522px;
    justify-content: space-evenly;
}
.sypp-taskEntity{
    font-size: 10px;
    color: #ffffff;
}

.sypp-selectedTitle{
    margin-top: 11px;
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
}

.sypp-modalButton{
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 5;
}
.sypp-detail-add-button{
    z-index: 99;
    width: 44px;
    height: 44px;
    border-radius: 26px;
    border: none;
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
