.sypp-button-container-applicationDetail{
    /* display: inline-block; */
    // margin-left: 5px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.sypp-radio-button-container-applicationDetail{
    padding-top: 3px;
    // min-width: 65px;
    min-height: 24px;
}


.btn-secondary.sypp-applicationDetialButtonGroups{
    border-radius: 10px;
    min-height: 24px ;
    padding-left: 10px;
    padding-right: 10px;
    // min-width: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #ffffff;
}

.sypp-textTitle{
    color: #ffffff;
    font-size: 12px;
}
.sypp-companyName{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.sypp-titleContainer{
    display: flex;
    align-items: center;
}
.sypp-button-back{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}
.sypp-angleLeft{
    color: #ffffff;
    font-size: 20px;
    &:hover{
        cursor: pointer;
    }
}
.sypp-applicationDetailContactsTitle{
    display: flex;
}
.sypp-applicationDetailTextTitle{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.sypp-applicationDetailTextSubTitle{
    font-size: 10px;
    color: #ffffff;
}
.sypp-applicationDetailTextBody{
    font-size: 11px;
    color: #ffffff;
}
.sypp-applicationDetailContactsContainer{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    max-width: 500px;
    &:hover{
        background: rgba(255, 255, 255, 0.13);
    }
}


.sypp-create-detail-tooltip{
    pointer-events: auto !important;
    background: transparent!important;
    // background-color: # !important;
    &:hover {
    visibility: visible !important;
    background-color: transparent !important;
    opacity: 1 !important;
    }
    &.place-right {
        &:after {
        background-color: transparent !important;
        border-left-color: transparent !important;
        color: transparent;
        border-color: transparent !important;
        border-bottom-color: transparent !important;
        }
        &::before {
        background-color: transparent;
        border-bottom-color: transparent !important;
        }
    }
}
.sypp-tooltip-button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: -10px;
}