.extraClass {
    padding: 0;
    font-size: 20px !important;
    pointer-events: auto !important;
    background-color: #959595 !important;
    &:hover {
   visibility: visible !important;
   opacity: 1 !important;
    }
    &.place-bottom {
        &:after {
        border-bottom-color: #959595 !important;
        border-bottom-color: solid !important;
        border-bottom-color: 6px !important;
        }
        &::before {
        border-bottom-color: #959595 !important;
        border-bottom-color: solid !important;
        border-bottom-color: 6px !important;
        }
    }
}


.subCategory-button{
    border: none;
    background: none;
    font-size: 10px;
    color: white;
    margin-left: 10;
    margin-right: 10;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    &:hover {
        font-weight: bold;
    }
}