.main{
    border:transparent !important ;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    background: transparent;

}
.react-calendar__tile.customTile{
    padding: 0.5em 0.5em;
    color: rgba(255, 255, 255, 0.87);
    outline: none;
    /* background: tomato !important; */
}
.react-calendar__tile--active.background{
    background: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.1);
    border: transparent;
    outline: none;
}
.react-calendar__tile--active:enabled:focus.changeFocus{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 !important;
    border: transparent !important;
    background-color: rgba(255, 255, 255, 0.4);
    outline: none;
}

.react-calendar.changeMargin{
    max-width: 85%;
    margin: 0 auto;
}
.react-calendar__year-view.changeSize{
    padding: 1em 0.5em;
}

.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
    color: rgba(255, 255, 255, 0.87) !important;
}

.react-calendar__tile--now{
    background: rgba(255, 255, 255, 0.4) !important;
}