.sypp-button-container{
    /* display: inline-block; */
    margin-left: 5px;
    margin-right: 5px;
    // margin-top: 2px;
    // margin-bottom: 2px;
}
.sypp-main-button-container{
    padding-top: 20px;
    margin-left: 20px;
}

.btn-secondary.sypp-mainButtonGroups{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    min-height: 26;
    min-width: 104;
    background: #363C46;
    border: none;
    color: rgba(194, 219, 255, 1);
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}