.sypp-dropdown-container{
    display: flex;
    flex-direction: column;
    width: 55px;
}
.sypp-timepicking-button{
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 10px;
}