
  .sypp-modal-window {
    top: 0;
    left: 0;
    width: 540px;
    height: 600px !important;
    will-change: transform;
    position: absolute;
    background: rgba(30, 32, 44, .99);
    height: initial;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    z-index: 9999;
    border: 1px solid #333748;
  }
  
  .sypp-modal-handle {
    cursor: move;
    height: 15px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .sypp-modal-close-button {
    cursor: pointer;
  }
  
  .sypp-modal-body {
    width: 540px;
    height: 600px;
  }
  