.radio{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
}

.customizeInputField{
    display: flex;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-size: 12px;
    border: none;
    width: 165px;
    height: 32px;
    border-radius: 26px;
}